h2 .badge {
    font-size: 20px;
    color: #545c64;
  }
  
div .mb-3 {
    text-align: center;
  }

div .form-control {
    padding : 30px;
}

#text-button {
  background-color: transparent;
  color: #545c64;
  border: 4px solid #545c64; 
}
  
#text-button:hover {
  background-color: transparent;
  color: #545c64;
  border: 2px solid #545c64; 
}

