h2 {
    background-color: transparent;
    text-align: center;
  }
  

h2 .badge.bg-success {
    font-size: 20px;
    color: #545c64;
  }
  
div .mb-3 {
    text-align: center;
  }

div .form-control {
    padding : 30px;
}

#text-button {
    background-color: transparent;
    color: #545c64;
  }
  
#text-button:hover {
    background-color: transparent; 
    color: #545c64;
  }
