body {
    background-image: url('https://i.pinimg.com/originals/ba/92/1f/ba921f7e877f7a245a4b2dc8264e3502.jpg');
    background-size: cover; /* 배경 이미지를 창에 맞게 조절 */
    background-position: center; /* 배경 이미지를 가운데 정렬 */
    height: 100vh; /* 화면 전체 높이에 배경 적용 */
    margin: 0;
  }

.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-container {
    margin-left: 20%

}

#label1 {
    margin-top:5%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    /* background-color: #4caf50;
    width: 16%; */
}

#label2 {
    margin-top:3%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    /* background-color: #4caf50;
    width: 16% */
}

#question {
        width: 60%; 
        height: 100px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
        padding: 10px; 
        resize: both;  /* 크기 조절 */
        overflow: auto;  /* 스크롤바 */
        transition: border-color 0.3s ease-in-out; 
    
    &:hover {
        border-color: white;
    }
}


#result {
        width: 60%; 
        height: 200px;
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
        padding: 10px; 
        resize: both;  /* 크기 조절 */
        overflow: auto;  /* 스크롤바 */
        transition: border-color 0.3s ease-in-out;
        background-color: lightgray;

    &:hover {
        border-color: white;
    }
}

#message {
        width: 60%; 
        height: 100px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
        padding: 10px; 
        resize: both;  /* 크기 조절 */
        overflow: auto;  /* 스크롤바 */
        transition: border-color 0.3s ease-in-out; 

    &:hover {
        border-color: white;
        }
}

#button1 {
    margin-right: 2%;
    width: 7%;
    background-color: transparent;
    color: #545c64;
}

  
#button1:hover {
    background-color: transparent; 
    color: #545c64;
  } 


#button2 {
    margin-left: 2%;
    width: 7%;
    background-color: transparent;
    color: #545c64;
}

#button2:hover {
    background-color: transparent; 
    color: #545c64;
  } 

/* .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* 입력창 스타일 */
#textInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
}

/* 버튼 스타일 */
#newMessage {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
} 